USE [EchoAnalytics_Books]
GO
/****** Object:  Table [dbo].[DiagnosisDescriptions]    Script Date: 12/27/2020 7:02:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisDescriptions](
	[DiagCode] [nvarchar](20) NULL,
	[DiagDescription] [nvarchar](250) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DiagnosisDescriptions] ([DiagCode], [DiagDescription]) VALUES (N'R51.9', N'Headache, unspecified')
INSERT [dbo].[DiagnosisDescriptions] ([DiagCode], [DiagDescription]) VALUES (N'K21.00', N'Gastro-esophageal reflux dis with esophagitis, without bleed')
INSERT [dbo].[DiagnosisDescriptions] ([DiagCode], [DiagDescription]) VALUES (N'K21.01', N'Gastro-esophageal reflux dis with esophagitis, with bleed')
GO
